
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="rtl">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <link href="{{path}}/templates/user/box33.css" rel="stylesheet" type="text/css" />
        <title>Login Box HTML Code - www.onescript.ir</title>


    </head>

    <body>
        {# <div id="main">
             <div id="top-menu">
             </div>#}
        <div id="navigation">

            <ul>
                <li><a href="{{path}}/manage-products/goods/index.php"> محصولات </a></li>
                <li><a href="{{path}}/user/login.php"> ورود به سیستم</a></li>
                <li><a href="{{path}}/user/register.php"> ثبت نام </a></li>
                <li><a href="#">تماس با ما</a></li>

                {# <li><a href="#"> ورزش و سرگرمی </a></li>
                 <li><a href="#"> مادر و کودک </a></li>#}

            </ul>
        </div>

        <div>
            <ul>
                <li><a href="{{path}}/manage-products/goods/pooshak.php">پوشاک</a></li>
                <li><a href="{{path}}/manage-products/goods/shose.php">کفش</a></li>
                <li><a href="{{path}}/manage-products/goods/perfume.php">عطر و ادکلن</a></li>
                <li><a href="{{path}}/manage-products/goods/toy.php">اسباب بازی</a></li>
                <li><a href="{{path}}/manage-products/goods/toy.php">ساعت</a></li>
            </ul>
        </div>
        {# <p>
             <a href="{{path}}/manage-products/goods/pooshak.php">پوشاک</a>
             <a href="{{path}}/manage-products/goods/shose.php">کفش</a>
             <a href="{{path}}/manage-products/goods/perfume.php">عطر و ادکلن</a>
             <a href="{{path}}/manage-products/goods/toy.php">اسباب بازی</a>
             <a href="{{path}}/manage-products/goods/toy.php">ساعت</a>
         </p>#}


        <div style="padding: 100px 0 0 250px;">


            <div id="category">

                {% block content %}

                {% endblock  %}







                {# </div>#}

            </div>



    </body>
</html>
