{% extends "layout.html.twig" %}

{% block content %}


    <div class="single-prd">

        <img src="{{path}}/templates/images/products/toy01.jpg" alt="clothes 0" >
        <p>پیراهن مردانه</p>
        <p>نظرات</p>

        <a href="buy.php"><img src = "{{path}}/templates/images/shopping.png" alt="shop 1" ></a>
    </div>
    <div class="single-prd">
        <img src="{{path}}/templates/images/products/toy02.jpg" alt="clothes 1" >
        <p>پیرهن مردانه</p>
        <p>قیمت: 250000</p>
        <a href="#"><img src = "{{path}}/templates/images/shopping.png" alt="shop 1" ></a>
    </div>
    <div class="single-prd">
        <img src="{{path}}/templates/images/products/toy03.jpg" alt="clothes 2" >
        <p>پیرهن زنانه</p>
        <p>قیمت: 250000</p>
        <a href="#"><img src = "{{path}}/templates/images/shopping.png" alt="shop 1" ></a>
    </div>
    <div class="single-prd">
        <img src="{{path}}/templates/images/products/toy04.jpg" alt="clothes 3" >
        <p>کت و دامن زنانه</p>
        <p>قیمت: 250000</p>
        <a href="#"><img src = "{{path}}/templates/images/shopping.png" alt="shop 1" ></a>
    </div>
    <div class="single-prd">
        <img src="{{path}}/templates/images/products/toy05.jpg" alt="clothes 4" >
        <p>بلوز مردانه</p>
        <p>قیمت: 250000</p>
        <a href="#"><img src = "{{path}}/templates/images/shopping.png" alt="shop 1" ></a>
    </div>
    <div class="single-prd">
        <img src="{{path}}/templates/images/products/toy01.jpg" alt="clothes 5" >
        <p>تی شرت مردانه</p>
        <p>قیمت: 250000</p>
        <a href="#"><img src = "{{path}}/templates/images/shopping.png" alt="shop 1" ></a>
    </div>


{% endblock %}
